# Ignore dependencies
node_modules/

# Ignore local databases
*.sqlite
*.sqlite-wal
*.sqlite-shm

# Ignore database files
database.sqlite
database_backup.sqlite
database.sqlite-wal
database.sqlite-shm
sessions.sqlite

# Ignore environment and log files
.env
*.log

# Ignore uploads and temporary files
uploads/
pdfs/
tmp/
*.csv
*.pdf

# Ignore system files
.DS_Store
